{% extends 'base.html' %}
{% load static %}

{% block title %}Статья{% endblock %}

{% block content %}
    <section class='article-page'>
        <div class='container'>
            <h1 class="info__subtitle">Статьи</h1>
            <div class='article-page__images'>
                <div class="article-page__img">
                    <img src="{% static 'img/article.webp' %}" alt="">
                </div>
                <div class="article-page__img">
                    <img src="{% static 'img/article.webp' %}" alt="">
                </div>
            </div>
            <div class="article-page__desc">
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание Описание
                меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития
                Описание Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития
                Описание меропрития Описание Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание Описание меропрития Описание
                меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание Описание
                меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание Описание меропрития Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание Описание меропрития Описание меропрития Описание
                меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание Описание меропрития Описание
                меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание Описание
                меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание
                меропрития Описание Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание
                меропрития Описание меропрития Описание Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития
                Описание меропрития Описание
                меропрития Описание меропрития Описание меропрития Описание
            </div>
        </div>
    </section>
{% endblock %}
