<!DOCTYPE html> <html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, initial-scale=1.0">
	<meta name="description"
				content="">
	<meta name="keywords"
				content="">
	<link rel="shortcut icon"
				href="img/favicons/favicon.svg"
				type="image/svg+xml">
	<link rel="shortcut icon"
				href="img/favicons/favicon.webp"
				type="image/webp">
	<link rel="shortcut icon"
				href="img/favicons/favicon.png"
				type="image/x-icon">
	<link rel="stylesheet"
				href="css/libs.min.css">
	<link rel="stylesheet"
				href="css/style.min.css">
	<title>Полезная информация</title>
</head>


<body>
    <div class="page">

        <div class="wrapper">
            <header class='header'>
    <div class='container'>
        <div class='header__inner'>
            <a href="index.html" class="header__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="header__right">
                <nav class="nav">
                    <a href="" class="nav__item">Инвестиции</a>
                    <a href="" class="nav__item">Взыскание</a>
                    <a href="" class="nav__item">О компании</a>
                    <a href="" class="nav__item">Полезная информация</a>
                    <a href="" class="nav__item">Контакты</a>
                </nav>
                <button class="header__btn btn btn-blue" data-bs-toggle="modal" data-bs-target="#consultModal">Оставить заявку</button>
            </div>
            <button class="header__burger">
                <span></span>
            </button>
        </div>
    </div>
</header>
            <main class="content">

                <section class='info'>
                    <div class='container'>
                        <h1 class="info__title display3">Полезная информация</h1>

                        <div class="events">
                            <h3 class="info__subtitle">Мероприятия</h3>
                            <div class="events__select form-group">
                                <label>Сортировать</label>
                                <div class="custom-select">
                                    <div class="custom-select__target">
                                        <input type="text" value="Актуальные">
                                    </div>
                                    <div class="custom-select__dropdown">
                                        <div class="custom-select__dropdown-inner">
                                            <div class="custom-select__dropdown-item custom-select__dropdown-item--selected">Актуальные</div>
                                            <div class="custom-select__dropdown-item">Архивные</div>
                                            <div class="custom-select__dropdown-item">В записи</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="events__wrap">
                                <div class="event-card">
                                    <div class="event-card__badge" style="background: #1FEC71;">Актуальные</div>
                                    <div class="event-card__title">Мероприятие 1</div>
                                    <div class="event-card__desc">
                                        Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                                    </div>
                                    <a href="" class="event-card__link">
                                        <span>Подробнее</span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.78 11.28C15.9207 11.4205 15.9998 11.6112 16 11.81V12.19C15.9977 12.3884 15.9189 12.5783 15.78 12.72L10.64 17.85C10.5461 17.9447 10.4183 17.9979 10.285 17.9979C10.1517 17.9979 10.0239 17.9447 9.93 17.85L9.22 17.14C9.12594 17.0479 9.07293 16.9217 9.07293 16.79C9.07293 16.6583 9.12594 16.5322 9.22 16.44L13.67 12L9.22 7.56003C9.12534 7.46614 9.0721 7.33834 9.0721 7.20503C9.0721 7.07171 9.12534 6.94391 9.22 6.85003L9.93 6.15003C10.0239 6.05537 10.1517 6.00213 10.285 6.00213C10.4183 6.00213 10.5461 6.05537 10.64 6.15003L15.78 11.28Z" fill="#5775FD"/>
                                        </svg>
                                    </a>
                                </div>

                                <div class="event-card">
                                    <div class="event-card__badge" style="background: #0FE8DB;">Архивные</div>
                                    <div class="event-card__title">Мероприятие 1</div>
                                    <div class="event-card__desc">
                                        Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                                    </div>
                                    <a href="" class="event-card__link">
                                        <span>Подробнее</span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.78 11.28C15.9207 11.4205 15.9998 11.6112 16 11.81V12.19C15.9977 12.3884 15.9189 12.5783 15.78 12.72L10.64 17.85C10.5461 17.9447 10.4183 17.9979 10.285 17.9979C10.1517 17.9979 10.0239 17.9447 9.93 17.85L9.22 17.14C9.12594 17.0479 9.07293 16.9217 9.07293 16.79C9.07293 16.6583 9.12594 16.5322 9.22 16.44L13.67 12L9.22 7.56003C9.12534 7.46614 9.0721 7.33834 9.0721 7.20503C9.0721 7.07171 9.12534 6.94391 9.22 6.85003L9.93 6.15003C10.0239 6.05537 10.1517 6.00213 10.285 6.00213C10.4183 6.00213 10.5461 6.05537 10.64 6.15003L15.78 11.28Z" fill="#5775FD"/>
                                        </svg>
                                    </a>
                                </div>

                                <div class="event-card">
                                    <div class="event-card__badge" style="background: #FFC671;">В записи</div>
                                    <div class="event-card__title">Мероприятие 1</div>
                                    <div class="event-card__desc">
                                        Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                                    </div>
                                    <a href="" class="event-card__link">
                                        <span>Подробнее</span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.78 11.28C15.9207 11.4205 15.9998 11.6112 16 11.81V12.19C15.9977 12.3884 15.9189 12.5783 15.78 12.72L10.64 17.85C10.5461 17.9447 10.4183 17.9979 10.285 17.9979C10.1517 17.9979 10.0239 17.9447 9.93 17.85L9.22 17.14C9.12594 17.0479 9.07293 16.9217 9.07293 16.79C9.07293 16.6583 9.12594 16.5322 9.22 16.44L13.67 12L9.22 7.56003C9.12534 7.46614 9.0721 7.33834 9.0721 7.20503C9.0721 7.07171 9.12534 6.94391 9.22 6.85003L9.93 6.15003C10.0239 6.05537 10.1517 6.00213 10.285 6.00213C10.4183 6.00213 10.5461 6.05537 10.64 6.15003L15.78 11.28Z" fill="#5775FD"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="articles">
                            <h3 class="info__subtitle">Статьи</h3>
                            <div class="articles__wrap">
                                <div class="article-card">
                                    <div class="article-card__title">Статья</div>
                                    <div class="article-card__desc">
                                        Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                                    </div>
                                    <a href="" class="article-card__link">
                                        <span>Подробнее</span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.78 11.28C15.9207 11.4205 15.9998 11.6112 16 11.81V12.19C15.9977 12.3884 15.9189 12.5783 15.78 12.72L10.64 17.85C10.5461 17.9447 10.4183 17.9979 10.285 17.9979C10.1517 17.9979 10.0239 17.9447 9.93 17.85L9.22 17.14C9.12594 17.0479 9.07293 16.9217 9.07293 16.79C9.07293 16.6583 9.12594 16.5322 9.22 16.44L13.67 12L9.22 7.56003C9.12534 7.46614 9.0721 7.33834 9.0721 7.20503C9.0721 7.07171 9.12534 6.94391 9.22 6.85003L9.93 6.15003C10.0239 6.05537 10.1517 6.00213 10.285 6.00213C10.4183 6.00213 10.5461 6.05537 10.64 6.15003L15.78 11.28Z" fill="#5775FD"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-card">
                                    <div class="article-card__title">Статья</div>
                                    <div class="article-card__desc">
                                        Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                                    </div>
                                    <a href="" class="article-card__link">
                                        <span>Подробнее</span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.78 11.28C15.9207 11.4205 15.9998 11.6112 16 11.81V12.19C15.9977 12.3884 15.9189 12.5783 15.78 12.72L10.64 17.85C10.5461 17.9447 10.4183 17.9979 10.285 17.9979C10.1517 17.9979 10.0239 17.9447 9.93 17.85L9.22 17.14C9.12594 17.0479 9.07293 16.9217 9.07293 16.79C9.07293 16.6583 9.12594 16.5322 9.22 16.44L13.67 12L9.22 7.56003C9.12534 7.46614 9.0721 7.33834 9.0721 7.20503C9.0721 7.07171 9.12534 6.94391 9.22 6.85003L9.93 6.15003C10.0239 6.05537 10.1517 6.00213 10.285 6.00213C10.4183 6.00213 10.5461 6.05537 10.64 6.15003L15.78 11.28Z" fill="#5775FD"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-card">
                                    <div class="article-card__title">Статья</div>
                                    <div class="article-card__desc">
                                        Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание меропрития Описание
                                    </div>
                                    <a href="" class="article-card__link">
                                        <span>Подробнее</span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.78 11.28C15.9207 11.4205 15.9998 11.6112 16 11.81V12.19C15.9977 12.3884 15.9189 12.5783 15.78 12.72L10.64 17.85C10.5461 17.9447 10.4183 17.9979 10.285 17.9979C10.1517 17.9979 10.0239 17.9447 9.93 17.85L9.22 17.14C9.12594 17.0479 9.07293 16.9217 9.07293 16.79C9.07293 16.6583 9.12594 16.5322 9.22 16.44L13.67 12L9.22 7.56003C9.12534 7.46614 9.0721 7.33834 9.0721 7.20503C9.0721 7.07171 9.12534 6.94391 9.22 6.85003L9.93 6.15003C10.0239 6.05537 10.1517 6.00213 10.285 6.00213C10.4183 6.00213 10.5461 6.05537 10.64 6.15003L15.78 11.28Z" fill="#5775FD"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="articles">
                            <h3 class="info__subtitle">Сравнение различных способов взыскания долга
                            </h3>
                        </div>

                        <div class="articles">
                            <h3 class="info__subtitle">Какие долги самые интересные для инвестирования?
                            </h3>
                        </div>
                    </div>
                </section>

            </main>
            <footer class='footer'>
    <div class='container'>
        <div class='footer__inner'>
            <a href="" class="footer__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="footer__right">
                <div class="footer__links">
                    <a href="" class="footer__link">Инвестиции</a>
                    <a href="" class="footer__link">Взыскание</a>
                    <a href="" class="footer__link">О компании</a>
                    <a href="" class="footer__link">Полезная информация</a>
                    <a href="" class="footer__link">Контакты</a>
                </div>
                <div class="footer__bottom">
                    <a href="" class="footer__conf">Политика конфиденциальности</a>
                    <span class="footer__by">2022 © Судинвестор. Developer By Makarenko.tech</span>
                </div>
            </div>
        </div>
    </div>
</footer>
        </div>
    </div>
    <div class="modal fade" id="consultModal" aria-labelledby="consultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal__top">
            <div class="modal__title display2">Оставьте заявку</div>
            <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.3334 8.54666L23.4534 6.66666L16.0001 14.12L8.54675 6.66666L6.66675 8.54666L14.1201 16L6.66675 23.4533L8.54675 25.3333L16.0001 17.88L23.4534 25.3333L25.3334 23.4533L17.8801 16L25.3334 8.54666Z" fill="#323232"/>
                </svg>
            </button>
        </div>

        <div class="modal__content">
            <form action="" class="modal__form">
                <div class="modal__form-grid">
                    <fieldset class='form-group form-group--error'>
                        <label>ИНН</label>
                        <input type='text' placeholder="Введите номер ИНН" />
                        <span class="form-group__error-text">Error</span>
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Наименование должника</label>
                        <input type='text' placeholder="Введите должника" />
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Телефон</label>
                        <input type='tel' placeholder="Введите телефон" />
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Сумма долга, руб.</label>
                        <input type='text' placeholder="Введите сумму долга" />
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Имя</label>
                        <input type='text' placeholder="Введите Ваше имя" />
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Получено судебное решение?</label>
                        <div class="custom-select">
                            <div class="custom-select__target">
                                <input type="text" placeholder="Выберите ответ">
                            </div>
                            <div class="custom-select__dropdown">
                                <div class="custom-select__dropdown-inner">
                                    <div class="custom-select__dropdown-item">Да</div>
                                    <div class="custom-select__dropdown-item">Нет</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Почта</label>
                        <input type='email' placeholder="Введите Вашу почту" />
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Получен исполнительный лист</label>
                        <div class="custom-select">
                            <div class="custom-select__target">
                                <input type="text" placeholder="Выберите ответ">
                            </div>
                            <div class="custom-select__dropdown">
                                <div class="custom-select__dropdown-inner">
                                    <div class="custom-select__dropdown-item">Да</div>
                                    <div class="custom-select__dropdown-item">Нет</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="modal__form-btn btn btn-blue">Оставить заявку</button>
            </form>
        </div>

    </div>
</div>

<!-- <div class="modal-backdrop show"></div> -->
    <!--  -->
    <script src="js/libs.min.js"></script>
<script src="js/main.min.js"></script>

</body>

</html>